src/conf/xml-resources/web-services/ClienteWEB/wsdl/localhost_8084/AmerikaTest1/ClientesWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://ws.amerikatest1.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.amerikatest1.com/">

<xs:element name="getInmueblesFromClientes" type="tns:getInmueblesFromClientes" />

<xs:element name="getInmueblesFromClientesResponse" type="tns:getInmueblesFromClientesResponse" />

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:complexType name="getInmueblesFromClientes">
<xs:sequence>
<xs:element name="cod_cliente" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInmueblesFromClientesResponse">
<xs:sequence>
<xs:element name="return" type="tns:inmueblesWS" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="inmueblesWS">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0" />
<xs:element name="direccion" type="xs:string" minOccurs="0" />
<xs:element name="est_codigo" type="xs:string" minOccurs="0" />
<xs:element name="uso" type="xs:string" minOccurs="0" />
<xs:element name="zona" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>